body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    color: #444;
  }
  
  #btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  #button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #button:hover {
    opacity: 0.8;
  }
  
  .card {
    margin-top: 50px;
    width: 50%;
    min-height: 200px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;

  }
  
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .card-body {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  blockquote {
    font-size: 1.2rem;
    color: #444;
    text-align: center;
  }
  